@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

@font-face {
  font-family: 'open_sansregular';
  src: url('/theme/fonts/opensans-regular-webfont.eot');
  src: local('☺'),
       url('/theme/fonts/opensans-regular-webfont.woff') format('woff'), url('/theme/fonts/opensans-regular-webfont.ttf') format('truetype');
}


body {
    margin: 0px;
	padding: 0px;
    background-color: #1f1f1f;
    color: #eee;
    text-align: center;
        font-family:open_sansregular;

} 

a {
    color: #444444;
	text-decoration: none;
 	outline: none;
}

.cell .thumb a img {
	border: 0px solid #AAAAAA;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9), 0px 0px 5px rgba(0, 0, 0, 0.9) inset;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.cell .thumb a img:hover {
    border: 3px solid #cc7b19;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9), 0px 0px 5px rgba(0, 0, 0, 0.9) inset;
    margin:-3px;
   	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
}

.hidden {
    visibility: hidden;
}

.rootlink:nth-of-type(odd) {
    font-family: "Oswald";
    font-size: 30px;  
    display : inline-block;
    padding: 5px;    
    background-color: #ee7f08;
   	border: #080808 solid 4px;
    color: #1a1a1a;
    width: 150px;	
    /* box-shadow: -6px 10px 11px 3px rgba(0, 0, 0, 0.75); */
    font-weight: bold;
    transform: skewY(-10deg);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
    text-transform: uppercase;
}

  .rootlink:nth-of-type(odd):after {
    content: "";
    position: absolute;
    top: 15px;
    left: -14px;
    border-style: solid;
    border-width: 3px 15px 5px 0;
    border-color: transparent #ee7f08;
    display: block;
    width: 0;
    z-index: 1;

}

  .rootlink:nth-of-type(odd):before {
    content: "";
    position: absolute;
    top: 11px;
    left: -22px;
    border-style: solid;
    border-width: 6px 18px 8px 0;
    border-color: transparent #080808;
    display: block;
    width: 0;
    z-index: 0;
}

.rootlink:nth-of-type(odd):hover{

	transform: skewY(-10deg);
	    background-color: #ff8503;

}

.rootlink:nth-of-type(odd):hover::after{

    border-color: transparent #ff8503;

}

.rootlink:nth-of-type(odd):active{

	transform: translate(0,0.03em) skewY(-10deg);
		    background-color: #e47907;

}

.rootlink:nth-of-type(odd):active::after{

    border-color: transparent #e47907;

}

.rootlink {
    font-family: "Oswald";
    font-size: 30px;  
    display : inline-block;
    padding: 5px;    
    background-color: #f1f1f1;
   	border: #080808 solid 4px;
    color: #1a1a1a;
    width: 150px;	
    box-shadow: -5px 4px 11px 2px rgba(0, 0, 0, 0.75);
    font-weight: bold;
    transform: skewY(-10deg);
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
    text-transform: uppercase;
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

  .rootlink:after {
	content: "";
    position: absolute;
    top: 15px;
    left: 141px;
    border-style: solid;
    border-width: 5px 0 5px 15px;
    border-color: transparent #f1f1f1;
    display: block;
    width: 0;
    z-index: 1;
}

  .rootlink:before {
    content: "";
    position: absolute;
    top: 15px;
    left: 145px;
    border-style: solid;
    border-width: 5px 0 8px 19px;
    border-color: transparent #000000;
    display: block;
    width: 0;
    z-index: 0;
}

.rootlink:hover{

	transform: skewY(-10deg);
	    background-color: #FFF;

}

.rootlink:hover::after{

    border-color: transparent #FFF;

}

.rootlink:active{

	transform: translate(0,0.03em) skewY(-10deg);
		    background-color: #e2e2e2;

}

.rootlink:active::after{

    border-color: transparent #e2e2e2;

}

@media (max-width: 810px) {
    
    #toppagebar
    {
	   position: fixed;
	   z-index: 5;	
	   top: 0px;
	   left: 0px;	   
       height: 140px;
	   width: 100%;	
    	background-color: #181818 !important;	
	   -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
       box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.5) inset;

    }
    
    #group
    {	
    	margin-top: 150px;
    	margin-left: 10px;
    	margin-right: 10px;	
    }

	#topbarleft
	{    
		position: absolute;
        top: 70px;
        left: 0px;
	}
	
	#topbarright
	{ 
		position: absolute;
        top: 70px;
        right: 0px;
        
	}
}

@media (min-width: 811px) {
    
    #toppagebar
    {   
		position: fixed;
    	z-index: 5;    	
    	top: 0px;
    	left: 0px;    	
        height: 70px;
    	width: 100%;	
		background-repeat: no-repeat;
		background-position: 15px;
    	background-color: #181818 !important;	
	   -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
       box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5), 0px 0px 5px rgba(0, 0, 0, 0.5) inset;
    }
    
    #group
    {	
    	margin-top: 100px;
    	margin-left: 10px;
    	margin-right: 10px;	
    }
	
	#topbarleft
	{
		float: left;
	}
	
	#topbarright
	{
		float: right;
	}
}

#topbarcenter {
	margin-left: auto;
	margin-right: auto;
	width: 456px	
}

#pagelabel {	
	float: left;
	color: #eee;
	width: 120px;
	margin-top: 10px;
    font-size: 18px;
    font-family: open_sansregular;
    font-weight:300;
}

#pagelabel a {	
	color: #FFFFFF;	
}

#pagelabeltotal
{
	font-size: 16px;
	color: #EEEEEE;
}

.topbutton
{
	float: left;
	width: 64px;
	height: 64px;
	margin-left: 10px;
	margin-right: 10px;
}

#arrowup {	
	background: url('/theme/arrowup.png');
	margin-top: 20px;
    height: 40px;
	background-repeat: no-repeat;	
}

#arrowup:hover {
	background: url('/theme/arrowup.png') 0px -46px;
	margin-top: 20px;
	background-repeat: no-repeat;	
}


#arrowleft {
	background-image: url('/theme/arrowleft.png');
	background-repeat: no-repeat;	
}

#arrowleft10 {		
	background-image: url('/theme/arrowleft10.png');
	background-repeat: no-repeat;	
}

#arrowright {	
	background-image: url('/theme/arrowright.png');
	background-repeat: no-repeat;
}

#arrowright10 {	
	background-image: url('/theme/arrowright10.png');
	background-repeat: no-repeat;
}

#random {		
	background-image: url('/theme/random.png');
	margin-top: 20px;
    height: 40px;
	background-repeat: no-repeat;
}

#random:hover {		
	background: url('/theme/random.png') 0px -46px;
	margin-top: 20px;
	background-repeat: no-repeat;	
}

#search {
	background-image: url('/theme/search.png');
	margin-top: 20px;
    height: 40px;
	background-repeat: no-repeat;
}

#search:hover {	
	background: url('/theme/search.png') 0px -46px;
	margin-top: 20px;
	background-repeat: no-repeat;	
}

#settings {		
	background-image: url('/theme/settings.png');
	margin-top: 20px;
    height: 40px;
	background-repeat: no-repeat;
}

#settings:hover {	
	background: url('/theme/settings.png') 0px -46px;
	margin-top: 20px;
	background-repeat: no-repeat
}

#banner {
    position: absolute;
	top: 0px;
	left: 0px;
	height: 100px;
	width: 100%; 
	background-image: url('/theme/banner.png');
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: 20px center; 
}

.cell {
    float: left;
    width: 160px;
    height: 288px;    
    margin: 0px 20px 20px 0px;
}

.cellcontainer {
	display: inline-block;
}

.thumb {
    width: 160px;
    height: 230px;
    text-align: center;
}


.label {
font-size: 14px;
font-family: open_sansregular;    
height: 45px;
overflow: hidden;
margin: 8px 4px 0px;
    -webkit-animation: fadein 0.1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.1s; /* Firefox < 16 */
        -ms-animation: fadein 0.1s; /* Internet Explorer */
         -o-animation: fadein 0.1s; /* Opera < 12.1 */
            animation: fadein 0.1s;
}

.label:hover {
text-decoration:underline;}

.numberblock {
    position: relative;
    float: right;
    top: -281px;
}

.number
{   
    text-decoration: none;
    color: #FFF;
    font-family: open_sansregular;
    font-size: 13px;
}

.cell .number span {
    background: #cc7b19;
	margin: 5px 15px 10px 0px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	font-size: 12px;
    padding: 5px 10px 5px 10px;
	display: block;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    font-weight: 100;
    font-family: open_sansregular;
    text-align:left;
}


.cell .numberblock .number span:hover {
    background: #EC8E1C;
}


#dimoverlay {
	visibility: hidden;
	z-index: 6;
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;  
  	width: 100%;
  	text-align: center;
  	background-image:url('/theme/dimoverlay.png');
  	display: block;	
}

#pageselector {
    display: none;
}

#searchbox {
    display: none;
            -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

#settingsbox {
    display: none;
                -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;

}

#comicdetails {
    display: none;
    width: 580px;
    max-height: 700px;  
    min-height: 280px;
            -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
     
     
}

.popupmenu {
	display: none;
	position: fixed;
  	top: 0px;
  	left: 0px;
  	right: 0px;
	z-index: 9;
    display: inline-block;    
    width: 420px;
    margin-left: auto;
    margin-right: auto;   
    margin-top: 70px;
    padding: 10px;
    background-color: #FFFFFF;
    border: 0px solid #AAAAAA;
	box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.4);
    font-size: 30px;
    max-height: 600px;
	overflow: auto;  
	border-top-left-radius: 5px;  border-bottom-left-radius: 5px;  border-top-right-radius: 5px;  border-bottom-right-radius: 5px;
	            -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;

}

.popuptitle {
	clear: both;
	padding-bottom: 20px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-bottom: 0px #CCCCCC solid; 
	color: rgb(66, 66, 66);
	font-weight: 700;
	font-size: 20px;
	    font-family: "Oswald";
	    text-transform:uppercase;


}

.pagenumber {
	border-radius: 25px;	
	-webkit-border-radius: 25px;
    float: left;
    background-color: #777777;
	color: #FFFFFF;
    width: 50px;
    height: 38px;
    padding-top: 6px;
    padding-bottom: 6px;
	margin: 5px;
}

.currentpagenumber {
    color: #FFFFFF;
    background-color: #FA5126;
}

.actionbutton {
font-size: 18px;
	background-color: #D3D3D3;
	color: #0F0F0F;
	border-radius: 3px;
	height: 32px;
	width: 75px;	
	margin-left: 30px;
	margin-right: 30px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;	
	border-bottom: 3px solid rgb(166, 166, 166);
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	padding: 1px 0px 1px 0px;	   
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    font-family: open_sansregular;
    font-size: 14px;
}

.textbox { 
	height: 28px; 
	width: 200px; 
	border: 1px solid #B9BDC1; 
	color: #797979; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 
} 


#searchright { 
	border: 0;
	background: url('/theme/arrowright.png');	
	cursor: pointer;
	opacity: 0.5 
}

#searchright:hover { 
	border: 0;
	background: url('/theme/arrowright.png');	
	cursor: pointer; 
	opacity: 1 
}

#searchright10 { 
	border: 0;
	background: url('/theme/arrowright10.png');	
	cursor: pointer; 
	opacity: 0.5 
}

#searchright10:hover { 
	border: 0;
	background: url('/theme/arrowright10.png');	
	cursor: pointer;
	opacity: 1 
}

#searchleft {
	border: 0;
	background: url('/theme/arrowleft.png');	
	cursor: pointer;
	opacity: 0.5  
}

#searchleft:hover {
	border: 0;
	background: url('/theme/arrowleft.png');	
	cursor: pointer;
	opacity: 1  
}

#searchleft10 {
	border: 0;
	background: url('/theme/arrowleft10.png');	
	cursor: pointer;
	opacity: 0.5 
}

#searchleft10:hover {
	border: 0;
	background: url('/theme/arrowleft10.png');	
	cursor: pointer;  
	opacity: 1
}


.searcharrowform {
	display : inline;	
}

.sectiontitle {
	font-size:24px;
	color: rgb(66, 66, 66);    font-weight: 600;  
	font-family:open_sansregular; 
	font-size: 16px;
}

.radiolabel {
    display: inline-block;
	font-size: 18px;
	margin: 15px 25px 5px 5px;	
	padding: 5px;
	width: 150px;
	border-radius: 10px;	
	background-color:#EEEEEE;
    color: rgb(66, 66, 66);    
    font-weight: 400;    
    font-size: 13px;
    	font-family:open_sansregular; 

}

/*****************************************/
/*           COMIC DETAILS                */
/*****************************************/

#progressbar {
	position: relative;
	top: 131px;
	border: 0;
	background: url('/theme/progressbar.gif');
	background-repeat: no-repeat;
	margin: auto;
	width: 48px;
	height: 48px;
}

#details {
	font-family: "Arial";	
}


#details_close {
	float: right;
	width: 32px;
	height: 32px;		
	background-image: url('/theme/close.png');
	background-repeat: no-repeat;
	opacity: 0.5;
}

#details_cover {
	float: left;
	width: 160px;
    
	/* height: 264px; */
    
	margin: 5px 20px 5px 5px;	
}

#details_cover img {	
	border: 0px solid #AAAAAA;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    width:100%;
    margin-right: 10px;
    margin-bottom: 10px;
}

#details_title {	
	font-size: 22px;
    
	font-weight: 700;
    text-align: left;
	color: #444444;
	font-family: Oswald;
	text-transform: uppercase;
	padding-top: 3px;
}

#details_authors {
	margin-top: 6px;
	margin-right:10px;
	font-size: 18px;
        text-align: left;
    color: #888888;
    max-height: 50px;
    font-family: open_sansregular;
    font-weight:bold;
	text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
	overflow: hidden;

	}

#details_series {
	margin-top: 6px;
	font-size: 14px;
    text-align: left;
    font-family: open_sansregular;

    
	/* font-style: italic
; */color: #888888;
}

#details_size {
	line-height: 24px;
	margin-top: 6px;
	font-size: 14px;
    text-align: left;
	color: #888888;
    font-family: open_sansregular;

}

#details_genre {
	margin-top: 5px;
	font-size: 16px;
    text-align: left;
    font-style: italic
}

#details_language_pubdate {
	margin-top: 5px;
    font-size: 14px;
    text-align: left;
    word-spacing: 5px;
	color: #888888;
    font-family: open_sansregular;

}

#details_download {
	position: absolute;
	padding: 10px;
	/* top: 208px; */     
	left: 190px;
	width: 164px;
	height: 42px;		
	background-image: url('/theme/download.png');
	background-repeat: no-repeat;
	margin-top: 10px;
}

#details_read {
	position: absolute;
	padding: 10px;    
	/* top: 208px; */     
	left: 405px;
	width: 164px;
	height: 42px;		
	background-image: url('/theme/read.png');
	background-repeat: no-repeat;
	margin-top: 10px;
}

#details_description {
	clear: both;
	font-size: 14px;
	text-align:left;
	overflow-y: auto;
	color: #444444;
	padding: 15px;
	max-height: 400px;
    font-family: open_sansregular;

	text-align: justify;
}