@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

@font-face {
  font-family: 'open_sansregular';
  src: url('/theme/fonts/opensans-regular-webfont.eot');
  src: local('?'),
       url('/theme/fonts/opensans-regular-webfont.woff') format('woff'), url('/theme/fonts/opensans-regular-webfont.ttf') format('truetype');
}

body {
	margin: 0px;
	padding: 0px;
	background-color: #1f1f1f;
        font-family:open_sansregular;
    
	font-size: 20px;
	text-align: center;
}

a {
	color: rgba(136, 136, 136, 0);
	text-decoration: none;
	outline: none;
}

a img {
    border: none;
}

input {
	width: 100px;
}

#loginform {
	color: #FFF;
	position: relative;		
        font-family:open_sansregular;
    font-size: 16px;    
}

#loginfield, #passwordfield {
	margin-left: 15px;
	height: 28px; 
	width: 200px; 
	border: 1px solid #B9BDC1; 
	color: #797979; 
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px; 
	border-radius: 3px; 	
	padding-left: 10px;
	        font-family:open_sansregular;

}

#loginfield:focus, #passwordfield:focus { 	
	border: 1px solid #777777;	
} 

#loginbutton {
	font-size: 16px;
	background-color: #D3D3D3;
            font-family:open_sansregular;

	color: #0F0F0F;
	border-radius: 3px;
	height: 32px;
	margin-left: 30px;
	margin-right: 30px;
	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;	
	border-bottom: 3px solid rgb(166, 166, 166);
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	padding: 1px 0px 1px 0px;	   
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

#userinfo {
	position: absolute;
	right: 10px;	
	top: 25px;	
        font-family:open_sansregular;
	font-weight: 100;
    
	font-size: 14px; 
	color: #FFFFFF;	
}

#message {
	color: #444444;			
	font-family: "Arial";
    font-size: 16px;    
}

#poweredby {
	display: block;
	width: 100%;
	padding-top: 10px;
	margin-top: 80px;
	border-top: 0px #CCCCCC solid; ;
	color: #808080;			
        font-family:open_sansregular;
    font-size: 12px;
    text-decoration: none;   
	margin-bottom: 20px;
}

#logoutlink {
	color: #FFFFFF;	
    text-decoration: underline;
}

#group {
	display: inline-block;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#comics {			
	float: left;
	width: 148px;
	height: 158px;	
	background-image: url('/theme/comics.png');
	background-repeat: no-repeat;
	background-position: center bottom; 
	margin: 10px;
	padding: 15px;
	    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

} 

#books {	
	float: left;	
	width: 148px;
	height: 158px;	
	background-image: url('/theme/books.png');
	background-repeat: no-repeat;
	background-position: center bottom; 
	margin: 10px;
	padding: 15px;
	    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
} 

#latest-comics {			
	float: left;
	width: 148px;
	height: 158px;	
	background-image: url('/theme/latest-comics.png');
	background-repeat: no-repeat;
	background-position: center bottom; 
	margin: 10px;
	padding: 15px;
	    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
} 

#latest-books {	
	float: left;	
	width: 148px;
	height: 158px;	
	background-image: url('/theme/latest-books.png');
	background-repeat: no-repeat;
	background-position: center bottom; 
	margin: 10px;
	padding: 15px;
	    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
} 

#files {		
	float: left;
	width: 148px;
	height: 158px;	background-image: url('/theme/files.png');
	background-repeat: no-repeat;
	background-position: center bottom; 
	margin: 10px;
	padding: 15px;
	    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
} 


#banner {
	display: block;
	top: 0px;
	left: 0px;
	height: 70px;
	width: 100%;
    margin-bottom: 60px;
	border-bottom: 0px #CCCCCC solid; 
	background-image: url('/theme/banner.png');	
	background-repeat: no-repeat;
	background-color: #181818 !important;
	background-position: 15px;
	-webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
        -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}


