body {    
	padding: 20px;
    background-color: #FFFFFF;
    color: #FFFFFF;
	font-family: "Arial";
    font-size: 16px;
    line-height: 140%
} 

a:link {
	color: #000000;
}

a:visited {
	color: #666666;
}

a:hover {
	color: #CBCBCB;
}

a:active {
	color: #CBCBCB;
}